{%extends "layout.html" %}
</head>
<body>
{%block body %}
	<header class="masthead" style="background-image: url('static/img/heartbeat.gif');">
    <div class="overlay"></div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>ICUlux</h1>
            <span class="subheading">Patient Monitor</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <table name="patient_data">
    {% for row in data %}
        <tr>
            <th>Patient ID:</th>
            <td>{{row[0]}}</td>
        </tr>  
        <tr>
            <th>Name:</th>
            <td>{{row[1]}}</td>
        </tr>
        <tr>
            <th>Age:</th>
            <td>{{row[2]}}</td>
        </tr>
        <tr>
            <th>Gender:</th>
            <td>{{row[3]}}</td>
        </tr>
        <tr>
            <th>Disease:</th>
            <td>{{row[5]}}</td>
        </tr>
        <tr>
            <th>Date of Arrival:</th>
            <td>{{row[4]}}</td>
        </tr>
    {% endfor %}
  </table>
  <div>
    {% for item in rows %}                                                                                                                                                                         
        {{ item }}                                                                                                                                                                            
    {% endfor %}
    </div>
  {% endblock %}