{%extends "layout.html" %}
</head>
<body>
{%block body %}
	<header class="masthead" style="background-image: url('static/img/heartbeat.gif');">
    <div class="overlay"></div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>ICUlux</h1>
            <span class="subheading">Patient Monitor</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
      $('a#start').bind('click', function() {
        $.ajax({
                 url: "{{ url_for('data_stream') }}",
                 method: "POST",
                 data: JSON.stringify("start"),
                 contentType: 'application/json;charset=UTF-8',
                 success: function(data) {
                   console.log(data);
                 }
                });
        return false;
      });
    });
</script>
  <table name="patient_data">
    {% for row in data %}
        <tr>
            <th>Patient ID:</th>
            <td>{{row[0]}}</td>
        </tr>  
        <tr>
            <th>Name:</th>
            <td>{{row[1]}}</td>
        </tr>
        <tr>
            <th>Age:</th>
            <td>{{row[2]}}</td>
        </tr>
        <tr>
            <th>Gender:</th>
            <td>{{row[3]}}</td>
        </tr>
        <tr>
            <th>Disease:</th>
            <td>{{row[5]}}</td>
        </tr>
        <tr>
            <th>Date of Arrival:</th>
            <td>{{row[4]}}</td>
        </tr>
    {% endfor %}
  </table>

  <form method="POST" action="/">
    <a href=# id="start"><input type="button" value="start" name="start"/></a> 
    <input type="button" id="end" value="end" name="end"/> 
  </form>
  {% for item in data2 %}
  <h2>RESP</h2>
  {% if item.name == "RESP" %}
    <h3>Value: </h3>
    <span>{{item.val1}}</span><br>
    <h3>Current Nature: </h3>
    <span>{{item.condition}}</span><br>
    <span>{{item.msg}}</span><br>
    <h3>Nature of Change: </h3>
    <span>{{item.ntu}}</span>
  {% endif %}
  <h2>CBP</h2>
  <h2>ABP</h2>
  <h2>NBP</h2>
  <h2>SpO2</h2>
  {% if item.name == "SpO2" %}
    <h3>Value: </h3>
    <span>{{item.val1}}</span><br>
    <h3>Current Nature: </h3>
    <span>{{item.condition}}</span><br>
    <span>{{item.msg}}</span><br>
    <h3>Nature of Change: </h3>
    <span>{{item.ntu}}</span>
  {% endif %}
  <h2>HR</h2>
  {% if item.name == "HR" %}
    <h3>Value: </h3>
    <span>{{item.val1}}</span><br>
    <h3>Current Nature: </h3>
    <span>{{item.condition}}</span><br>
    <span>{{item.msg}}</span><br>
    <h3>Nature of Change: </h3>
    <span>{{item.ntu}}</span>
  {% endif %}
  <h2>PULSE</h2>
  {% if item.name == "PULSE" %}
    <h3>Value: </h3>
    <span>{{item.val1}}</span><br>
    <h3>Current Nature: </h3>
    <span>{{item.condition}}</span><br>
    <span>{{item.msg}}</span><br>
    <h3>Nature of Change: </h3>
    <span>{{item.ntu}}</span>
  {% endif %}
  <h2>CO</h2>
  {% if item.name == "CO" %}
    <h3>Value: </h3>
    <span>{{item.val1}}</span><br>
    <h3>Current Nature: </h3>
    <span>{{item.condition}}</span><br>
    <span>{{item.msg}}</span><br>
    <h3>Nature of Change: </h3>
    <span>{{item.ntu}}</span>
  {% endif %}
  <h2>TBlood</h2>
  <h2>PAP</h2>
  <h2>LAP</h2>
  {% if item.name == "LAP" %}
    <h3>Value: </h3>
    <span>{{item.val1}}</span><br>
    <h3>Current Nature: </h3>
    <span>{{item.condition}}</span><br>
    <span>{{item.msg}}</span><br>
    <h3>Nature of Change: </h3>
    <span>{{item.ntu}}</span>
  {% endif %}
  <h2>CVP</h2>
  {% if item.name == "CVP" %}
    <h3>Value: </h3>
    <span>{{item.val1}}</span><br>
    <h3>Current Nature: </h3>
    <span>{{item.condition}}</span><br>
    <span>{{item.msg}}</span><br>
    <h3>Nature of Change: </h3>
    <span>{{item.ntu}}</span>
  {% endif %}
  <h2>EtCO2</h2>
  {% if item.name == "EtCO2" %}
    <h3>Value: </h3>
    <span>{{item.val1}}</span><br>
    <h3>Current Nature: </h3>
    <span>{{item.condition}}</span><br>
    <span>{{item.msg}}</span><br>
    <h3>Nature of Change: </h3>
    <span>{{item.ntu}}</span>
  {% endif %}
  <h2>AWRR</h2>
  {% if item.name == "AWRR" %}
    <h3>Value: </h3>
    <span>{{item.val1}}</span><br>
    <h3>Current Nature: </h3>
    <span>{{item.condition}}</span><br>
    <span>{{item.msg}}</span><br>
    <h3>Nature of Change: </h3>
    <span>{{item.ntu}}</span>
  {% endif %}
  <h2>PAWP</h2>
  {% if item.name == "PAWP" %}
    <h3>Value: </h3>
    <span>{{item.val1}}</span><br>
    <h3>Current Nature: </h3>
    <span>{{item.condition}}</span><br>
    <span>{{item.msg}}</span><br>
    <h3>Nature of Change: </h3>
    <span>{{item.ntu}}</span>
  {% endif %}
  <h2>IMCO2</h2>
  <h2>ART</h2>
  <h2>ART1</h2>
  <h2>ST1</h2>
  <h2>ST2</h2>
  <h2>ST3</h2>
  <h2>P4</h2>
  <h2>UAP</h2>
  {% endfor %}
</div>
  {% endblock %}