{%extends "layout.html" %}

<head>
	{%block head %}
  <link rel="stylesheet" href="static/css/clean-blog.min.css">
  <link rel="stylesheet" href=href= "{{ url_for('static',filename='css/mainpage.css') }}>

  	{% endblock %}
</head>
<body>
{%block body %}
	<header class="masthead" style="background-image: url('static/img/heartbeat.gif');">
    <div class="overlay"></div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>ICUlux</h1>
            <span class="subheading">Find Patient</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="findpatient" style=" width: fit-content;
  height: 430px;
  background: rgb(51, 12, 88);
  color: #ffffff;
  top:120%;
  left:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 30px 30px;">
<img src="{{url_for('static',filename='img/avatar.png')}}" class="avatar"> 
     <h1 style="padding: 30px 30px;"">Find Patient</h1>
		<form class= "form-group" action="{{ url_for('find_patient')}}" method="POST" >
			<div class = "form-group" style="left: 50%; ">
				<label class="control-label col-sm-2"  for="pid" style="color:white; ">Enter Patient ID:</label><br>
				<input type="text" id="pid" name="pid" style="border: rgb(248, 248, 248); background:rgb(172, 172, 172, 0.5)"><br>
			
			  <span class="error"><?php echo $piderr;?></span>
			  <div class = "submitbutton">
				  <button type="submit" class="btn btn-default" style="color:white">Submit</button>
			  </div>
    </div>
    <div>
      {% with msg = get_flashed_messages() %}
  {% if meg %}
    <ul class="flashes">
    {% for message in msg %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    </div>
		</form>
	</div>
	{% endblock %}
</body>
		

